.subscribe-button {
  background-color: rgb(8, 183, 189);
  color: white;
  border: red;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 0.2s;
  vertical-align: top;
}

.subscribe-button:hover {
  opacity: 0.7;
}

.subscribe-button:active {
  opacity: 0.3;
}

.join-button {
  background-color: white;
  color:rgba(0, 84, 179, 0.941);
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  padding-right: 15px;
  border-color: rgba(0, 84, 179, 0.941);
  border-style: solid;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.2s,
    color 0.2s, opacity 0.2s;

}

.join-button:hover{
  background-color: rgba(0, 84, 179, 0.941);
  color: white;
}

.join-button:active {
  opacity: 0.7;
}

.tweet-button {
  background-color: rgba(49, 170, 250, 0.941);
  color:white;
  height: 35px;
  width: 60px;
  font-weight: bold;
  font-size: 12;
  border-color: rgba(49, 170, 250, 0.941);
  border-style: solid;
  border-radius: 18px;
  margin-right: 8px;
  cursor: pointer;
  transition: box-shadow 0.2s;
  vertical-align: top;
}

.tweet-button:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
